<% if book.favorited_by?(current_user) %>
  <%= link_to book_favorites_path(book.id), method: :DELETE, class: "text-danger", remote: true  do %>
    <h5>♥<%= book.favorites.count %></h5>
  <% end %>
<% else %>
  <%= link_to book_favorites_path(book.id), method: :POST, remote:true do %>
    <h5>♥<%= book.favorites.count %></h5>
  <% end %>
<% end %>